<h2 class="title">Login</h2>

<div class="login-container">
  <form class="login-form" (submit)="onLogin()">
    <input type="text" [(ngModel)]="username" placeholder="Enter username" name="username" required>
    <input type="password" [(ngModel)]="password" placeholder="Enter password" name="password" required>
    <button type="submit" class="login-btn">Login</button>
    <p *ngIf="message" class="message">{{ message }}</p>
  </form>

  <div class="separator">OR</div>

  <button class="google-btn" (click)="goToGoogleLogin()">Login with Google</button>

  <div class="register-container">
    <p>New user? <a (click)="goToReg()" class="register-link">Register here</a></p>
  </div>
</div>
