<h2 class="title">Register</h2>

<div class="register-container">
  <form class="register-form" (submit)="onRegister()">
    <input type="text" [(ngModel)]="username" placeholder="Enter username" name="username" required>
    <input type="text" [(ngModel)]="empId" placeholder="Enter Employee ID" name="empId" required>
    <input type="password" [(ngModel)]="password" placeholder="Enter password" name="password" required>
    <button type="submit" class="register-btn">Submit</button>
    <p *ngIf="message" class="message">{{ message }}</p>
  </form>

  <div class="separator">OR</div>

  <div class="login-redirect">
    <p>Already registered? <a (click)="goTologin()" class="login-link">Login here</a></p>
  </div>
</div>
